<p-dialog
    [(visible)]="showingDialog"
    [style]="{ width: '450px' }"
    [header]="dialogTitle"
    [modal]="true"
    styleClass="p-fluid"
    (onShow)="onShowDialog()"
    (onHide)="onHideDialog()"
>
    <ng-template pTemplate="content">
        <form [formGroup]="formGroup" autocomplete="off">
            <div class="field">
                <label for="code">ລະຫັດພະນັກງານ <i class="p-error">*</i></label>
                <input
                    type="text"
                    pInputText
                    id="code"
                    formControlName="code"
                    placeholder="ປ້ອນລະຫັດ"
                />
                <small class="p-error" *ngIf="submitted && f.code.errors"
                    >ກຸລຸນາປ້ອນລະຫັດ.</small
                >
            </div>
            <div class="field">
                <label for="name">ຊື່ <i class="p-error">*</i></label>
                <input
                    type="text"
                    pInputText
                    id="name"
                    formControlName="name"
                    placeholder="ປ້ອນຊື່"
                />
                <small class="p-error" *ngIf="submitted && f.name.errors"
                    >ກຸລຸນາປ້ອນນາມສະກຸນ.</small
                >
            </div>
            <div formGroupName="serviceType" class="field">
                <label for="id">ປະເພດບໍລິການ <i class="p-error">*</i></label>
                <p-dropdown
                    appendTo="body"
                    [options]="serviceTypes$ | async"
                    placeholder="ເລືອກສິດ"
                    optionValue="id"
                    optionLabel="name"
                    id="id"
                    formControlName="id"
                >
                </p-dropdown>
                <small
                    class="p-error"
                    *ngIf="submitted && f.serviceType.controls.id.errors"
                    >ກຸລຸນາປ້ອນລະຫັດ.</small
                >
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            label="ຍົກເລີກ"
            icon="pi pi-times"
            class="p-button-text"
            (click)="onHideDialog()"
        ></button>
        <button
            pButton
            pRipple
            label="ບັນທຶກ"
            [loading]="spinner$ | async"
            icon="pi pi-check"
            class="p-button-text"
            (click)="onSave()"
        ></button>
    </ng-template>
</p-dialog>
