<div class="login-body">
    <div class="login-wrapper">
        <div class="login-panel">
            <img [src]="logo" class="w-5 lg:w-10 lg:mt-[50%]" alt="diamond-layout" />


                <form [formGroup]="formGroup" (ngSubmit)="login()" class="w-full login-form">
                    <h2>ເຂົ້າໃຊ້ລະບົບ</h2>
                    <p class="text-xl">ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບກົດບັດຄິວ</p>
                    <input pInputText id="code" type="text" placeholder="ກະລຸນາປ້ອນລະຫັດພະນັກງານ" formControlName="code" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.code.errors }" />
                    <span class="ml-2"></span>
                    <input pInputText id="password" type="password" placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານ" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors }" formControlName="password" />
                    <span class="ml-2"></span>
                    <button pButton pRipple label="ເຂົ້າສູ່ລະບົບ" type="submit" [loading]="spinner$ | async" ></button>
                </form>
        </div>
        <div class="object-fill login-image">
            <!-- <div class="login-image-content">
                <h1>Access to your</h1>
                <h1>Diamond</h1>
                <h1>Account</h1>
                <h3>Lorem ipsum dolor sit amet, consectetur
                    <br/> adipiscing elit. Donec posuere velit nec enim
                    <br/> sodales, nec placerat erat tincidunt. </h3>
            </div>
            <div class="image-footer">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                <div class="icons">
                    <i class="pi pi-github"></i>
                    <i class="pi pi-twitter"></i>
                </div>
            </div> -->
        </div>
    </div>
</div>
