.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../../../../assets/images/resetPassword.jpg') no-repeat fixed;
    background-size: cover;
    .form-card {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        width: 350px;
        padding: 1rem 1.2rem;
        input,
        button {
            width: 100%;
        }
    }
}
