<div class="wrapper">
    <div class="form-card">
        <h2>ຍິນດີຕ້ອນຮັບເຂົ້າສູ່ລະບົບ</h2>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="w-full" autocomplete="off">
            <div class="field">
                <label for="newPassword" class="block">ລະຫັດຜ່ານໃໝ່</label>
                <input pPassword type="password" placeholder="ກະລຸນາປ້ອນລະຫັດຜ່ານໃໝ່" id="newPassword" formControlName="newPassword" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.password.errors }" required />
            </div>
            <button pButton pRipple label="ບັນທຶກ" type="submit"></button>


        </form>
        <button pButton pRipple label="ຍົກເລີກ" class="p-button-danger" (click)="onLogout()"></button>
    </div>
</div>

<p-toast></p-toast>
