<div class="card">
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="ເພີ່ມຂໍ້ມູນ" icon="pi pi-plus" class="mr-2 p-button-success" (click)="onCreate()"></button>
            <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="onDeleteSelected()" [disabled]="!selectedUsers || !selectedUsers.length"></button>
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="users" [rows]="10" [paginator]="true" [globalFilterFields]="['code', 'firstName', 'lastName','role.name']" responsiveLayout="scroll" [rowHover]="true" dataKey="users.id" currentPageReportTemplate="ສະແດງ {first} ເຖິງ {last} ຈາກທັງໝົດ {totalRecords} ລາຍການ"
        [showCurrentPageReport]="true" [loading]="spinner$ | async" [(selection)]="selectedUsers" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">ຈັດການຂໍ້ມູນຜູ້ໃຊ້</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="ຄົ້ນຫາ..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>#</th>
                <th pSortableColumn="username">ລະຫັດພະນັກງານ
                    <p-sortIcon field="username"></p-sortIcon>
                </th>
                <th pSortableColumn="firstName">ຊື່ພະນັກງານ
                    <p-sortIcon field="firstName"></p-sortIcon>
                </th>
                <th pSortableColumn="lastName">ນາມສະກຸນ
                    <p-sortIcon field="lastName"></p-sortIcon>
                </th>
                <th pSortableColumn="role">ສິດເຂົ້າໃຊ້
                    <p-sortIcon field="role"></p-sortIcon>
                </th>
                <th pSortableColumn="role">Default Password
                    <p-sortIcon field="role"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
            <tr>
                <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td>{{rowIndex + 1}}</td>
                <td>{{item?.username}}</td>
                <td>{{item?.firstName}}</td>
                <td>{{item?.lastName}}</td>
                <td>{{item?.role?.name}}</td>
                <td>{{item?.defaultPassword}}</td>
                <td>
                    <button pButton pRipple pTooltip="ປ່ຽນລະຫັດຜ່ານໃໝ່" tooltipPosition="bottom" icon="pi pi-unlock" class="mr-2 p-button-rounded p-button-primary" (click)="onResetPassword($event, item.id)"></button>
                    <button pButton pRipple pTooltip="ແກ້ໄຂຂໍ້ມູນ" tooltipPosition="bottom" icon="pi pi-pencil" class="mr-2 p-button-rounded p-button-success" (click)="onUpdate(item)"></button>
                    <button pButton pRipple pTooltip="ລົບຂໍ້ມູນ" tooltipPosition="bottom" icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="onDelete($event, item.id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-user-form></app-user-form>
<p-toast></p-toast>

<p-confirmPopup key="popup"></p-confirmPopup>

<p-confirmDialog key="confirm"></p-confirmDialog>
